<embed src="images/SatishRoR.docx" width="800px" height="2100px"/>

<object data="data/SatishRoR.docx" type="application/docx" width="300" height="200">
<a href="assets/data/SatishRoR.docx">test.pdf</a>
</object>